@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 240 4% 96%;
    --foreground: 240 1% 16%;
    --card: 240 4% 96%;
    --card-foreground: 240 1% 16%;
    --popover: 240 4% 96%;
    --popover-foreground: 240 1% 16%;
    --text-primary: 240 1% 16%;
    --text-secondary: 240 4% 46%;
    --text-tertiary: 240 5% 65%;
    --primary: 36 69% 64%;
    --primary-light: 39 66% 71%;
    --primary-dark: 36 68% 53%;
    --secondary: 17 58% 60%;
    --secondary-light: 16 61% 71%;
    --secondary-dark: 17 60% 50%;
    --tertiary: 148 100% 87%;
    --quaternary: 47 100% 86%;
    --quinary: 0 100% 77%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --success: 120 65% 58%;
    --success-foreground: 120 67% 8%;
    --warning: 27 87% 67%;
    --warning-foreground: 60 67% 8%;
    --destructive: 0 65% 58%;
    --destructive-foreground: 240 4% 96%;
    --border: 0 0% 87%;
    --border-button: 0 0% 68% 100%;
    --input: 0 0% 87%;
    --ring: 240 1% 16%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 1% 16%;
    --foreground: 240 4% 96%;
    --card: 240 1% 16%;
    --card-foreground: 240 4% 96%;
    --popover: 240 1% 16%;
    --popover-foreground: 240 4% 96%;
    --text-primary: 240 4% 96%;
    --text-secondary: 240 5% 65%;
    --text-tertiary: 240 4% 46%;
    --primary: 246 68% 59%;
    --primary-light: 244 69% 68%;
    --primary-dark: 247 61% 49%;
    --secondary: 130 23% 67%;
    --secondary-light: 130 26% 75%;
    --secondary-dark: 130 25% 55%;
    --tertiary: 148 100% 87%;
    --quaternary: 47 100% 86%;
    --quinary: 0 100% 77%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 240 4% 96%;
    --success: 120 65% 58%;
    --success-foreground: 120 67% 8%;
    --warning: 60 65% 58%;
    --warning-foreground: 60 67% 8%;
    --destructive: 0 65% 58%;
    --destructive-foreground: 240 4% 96%;
    --border: 240 7.8% 30.2%;
    --border-button: 220 3% 20%;
    --input: 240 3.7% 15.9%;
    --ring: 240 7.8% 30.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolveticaRg.woff');
  font-weight: 400;
 font-style: normal
}